<mat-card>
  <h2 class="form__heading">FORGOT PASSWORD ?</h2>
  <!-- Username -->
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Enter Username</mat-label>
      <input matInput placeholder="Enter username" formControlName="username" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <div *ngIf="showForgot">
      <!-- OTP -->
      <mat-form-field appearance="outline" *ngIf="showDiv">
        <mat-label>OTP</mat-label>
        <input matInput placeholder="Enter otp" formControlName="otp" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmitUsername()"
        class="form__btn"
        *ngIf="showbtn"
      >
        Submit
      </button>
      <mat-error *ngIf="showbtn">{{ error }}</mat-error>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmitOtp()"
        class="form__btn"
        *ngIf="!showbtn"
      >
        Send OTP
      </button>
      <mat-error *ngIf="!showbtn">{{ error }}</mat-error>
    </div>

    <div *ngIf="showUpdate">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter new Password"
          formControlName="password"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmitPassword()"
        class="form__btn"
        *ngIf="showbtn3"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
