@import "../../styles/abstarct/mixins";

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

////////////////////////////
///
mat-card {
  .table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    mat-form-field {
      position: relative;
      margin: 1rem;
      width: 80%;
      @include respond(tab-land) {
        width: 70%;
      }
      @include respond(phone-s) {
        width: 50%;
      }
      .search-icon {
        position: absolute;
        top: 0.5rem;
        right: 0;
        width: 3rem;
        height: 3rem;
        font-size: 36px;
        color: #3f51b5;
        @include respond(tab-port) {
          font-size: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    button {
      width: 16%;
      border-radius: 24px;
      margin-bottom: 1.5rem;
      height: 3rem;

      mat-icon {
      }
      @include respond(tab) {
        width: 20%;
        font-size: 13px;
      }
      @include respond(phone-s) {
        width: 35%;
        padding: 1px;
        height: 2.4rem;
      }
    }
  }
  table {
    border-radius: 7px;
  }
  mat-paginator {
    border-radius: 4px;
    border: none !important;
  }
}
.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 52.3px;
}
mat-mdc-text-field-wrapper {
  @include respond(phone-s) {
    height: 3rem !important;
  }
}
